{% extends 'base.html' %}



{% block title %}My order{% endblock title %}


{% block main_content %}
    {% if messages %}

            <ul class="messages">
                {% for message in messages %}
                    <div align="left"
                            {% if message.tags == 'error' %}
                                class="alert alert-danger"
                            {% else %}
                                class="alert alert-success"
                            {% endif %}>
                        {{ message }}
                    </div>
                {% endfor %}
            </ul>

    {% endif %}
<table class="table-heading simpleCart_shelfItem">
    <h4>заказ <b>№ {{ object.id }}</b> від <b>{{ object.add_date }}</b></h4>
		  <tr>
			<th class="table-grid">Продукт</th>
			<th>Ціна</th>
			<th>Кількість </th>
			<th>Всього</th>
		  </tr>
      {% for product in object.products.all %}
		  <tr class="cart-header">

			<td class="ring-in"><a href="{{ product.product.get_absolute_url }}" class="at-in"><img src="{{ product.product.main_image.image.url }}" class="img-responsive" alt=""></a>
			<div class="sed">
				<h5><a href="{{ product.product.get_absolute_url }}">{{ product.product.name }}</a></h5>
				<p>{{ product.product.short_description }}</p>

			</div>
			<div class="clearfix"> </div>
			<div class="close1"> </div></td>
            {% if product.product.is_active %}
                <td>{{ product.product.price }}</td>
                <td>{{ product.pcs }}</td>
                <td class="item_price">{{ product.get_total_product_price }}</td>
            {% else %}
                <td colspan="3">
                    <div class="alert alert-danger">
                        Товар більше не доступний
                    </div>
                </td>
            {% endif %}
          </tr>
    {% endfor %}
{% endblock main_content %}