{% extends 'base.html' %}



{% block title %}{{ user }}{% endblock title %}


{% block content %}
    {% if messages %}

            <ul class="messages">
                {% for message in messages %}
                    <div align="left"
                            {% if message.tags == 'error' %}
                                class="alert alert-danger"
                            {% else %}
                                class="alert alert-success"
                            {% endif %}>
                        {{ message }}
                    </div>
                {% endfor %}
            </ul>

    {% endif %}
    <h2>
        {{ user.username }}
        <a href="{% url 'order:user_orders' pk=user.id %}" class="btn btn-success">My order</a>
    </h2>
    <div>
        <table class="table table-striped">
              <tbody>
                <tr>
                  <td>Username</td>
                  <td>{{ user.username }}</td>
                </tr>
                <tr>
                  <td>First name</td>
                  <td>{{ user.first_name }}</td>
                </tr>
                <tr>
                  <td>Last name</td>
                  <td>{{ user.last_name }}</td>
                </tr>
                <tr>
                  <td>Email</td>
                  <td>
                      {% for emailaddress in user.emailaddress_set.all %}
                          {{ emailaddress }}
                          {% if not emailaddress.verified %}
                            <span class="label label-danger">not verified</span>
                           {% else %}
                              <span class="label label-success">verified</span>
                          {% endif %} <br>
                      {% endfor %}
                      <a class="btn btn-primary" href="{% url 'account_email' %}">Confirm/Change</a>
                  </td>
                </tr>
                </tr>
                <tr>
                  <td>Phone</td>
                  <td>{{ user.profile.phone_nmb }}</td>
                </tr>
                <tr>
                  <td>Date of birth</td>
                  <td>{{ user.profile.date_of_birth }}</td>
                </tr>
              </tbody>
        </table>
    </div>
    <a href="{% url 'profile:update' %}" class="btn btn-success">Update profile</a>
    <a href="{% url 'account_change_password' %}" class="btn btn-success">Change password</a>


{% endblock content %}